<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div class="navbar navbar-inverse navbar-static-top" th:fragment="header">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Checkin App</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#" th:href="@{/start}">Home</a></li>
                <li><a href="#" th:href="@{/reports}">Reports</a></li>
                <li><a href="#" th:href="@{/logs}">Logs</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>