<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headFragment">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>-->
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}" />
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"/>-->
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap-theme.min.css}" />

    <!--<script   src="https://code.jquery.com/jquery-2.2.4.js"   integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="   crossorigin="anonymous"></script>-->
    <script type="text/javascript" th:src="@{/js/jquery-2.2.4.js}"/>
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>-->
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"/>

    <!-- static content will be served from /resources/static/ folder-->
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap-responsive.css}" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap-clockpicker.css}" />
    <script type="text/javascript" th:src="@{/js/bootstrap-clockpicker.js}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap-table.css}" />
    <script type="text/javascript" th:src="@{/js/bootstrap-table.js}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/main.css}" />
</head>
<body>

</body>
</html>