.align-center{
margin: 0 auto;
display:block;
}
.min-300{
min-width:300px;
}
.max-300{
max-width:300px;
}
.max-800{
max-width:800px;
}
table.borderless  {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
}

#dailyLog ul {
max-width:300px;
}

#dailyLog li {
display:inline-block;
padding: 3px 10px;
max-width:200px;
}