<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/scripts :: headFragment">
    <title>Checkin - Daily Reports</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="fragments/header :: header">
    <h1>Header</h1>
</div>
<div id="report" class="max-800 align-center">

    <table id="dailyLog"  class="table table-hover borderless" data-toggle="table">
        <thead>
            <th data-field="day">&nbsp;</th>
            <th data-field="date">Date</th>
            <th data-field="time">Duration</th>
            <th data-field="notes">Notes</th>
        </thead>
        <tbody>
        <th:block th:each="log : ${dailyLogs}">

            <tr data-toggle="collapse" data-target="#details" class="clickable">
                <td th:text="${log.day}" class="lead">Monday'</td>
                <td th:text="${log.date}">19-AUG-2016'</td>
                <td class="logTime" th:text="${#numbers.formatDecimal(log.totalDuration,0,'COMMA',2,'POINT')}">10.0'</td>
                <td><ul class="list-group">
                    <th:block th:each="checkin : ${log.checkins}">
                        <th:block th:each="note : ${checkin.notes}">
                            <li class="list-group-item" th:text="${note}" th:unless="${#strings.isEmpty(note)}">Note Item</li>
                        </th:block>
                    </th:block>
                </ul></td>
            </tr>
            <tr th:if="${log.day == 'Monday'}">
                <td colspan="4" class="mark">New Week</td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>

<div id="details" class="collapse">Details</div>
<script type="text/javascript" th:src="@{/js/main.js}"/>

<div th:replace="fragments/footer :: footer">
    <h1>Footer</h1>
</div>
</body>
</html>
