<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/scripts :: headFragment">
    <title>CheckIn - Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div th:replace="fragments/header :: header">
    <h1>Header</h1>
</div>

<div id="content" class="max-800 min-300 align-center">
    <div id="checkin-content" class="row-fluid">
        <div id="clock" class="hidden-phone span6" >
            <canvas id="clock-canvas" width="300" height="300" class="align-center" style="background-color:#fff"></canvas>
            <script type="text/javascript" th:src="@{/js/clock.js}"/>
        </div>
        <div id="form" class="span6 align-center">
            <div style="width:100%;height:100px;" class="hidden-phone">&nbsp;</div>
            <form id="checkin-form" method="post" th:object="${checkinForm}" th:action="@{checkin}" role="form" class="max-300">
                <div class="input-group clockpicker">
                    <input placeholder="Checkin Time" type="text" class="form-control" value="18:00"
                           th:field="*{time}"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                </div>
                <input id="checkinType" type="hidden" class="form-control" value="CHECK_IN" th:field="*{type}"/>
                <input placeholder="Checkin Notes" type="text" class="form-control" value="" th:field="*{notes}"/>

            </form>
            <div id="checkin" style="width:300px" class="btn-group align-center">
                <a href="#" class="btn btn-primary btn-lg" role="button" onclick="checkin()">CheckIn</a>
                <a href="#" class="btn btn-success btn-lg" role="button" onclick="checkout()">CheckOut</a>
            </div>
        </div>
    </div>

    <div id="logsViewer" class="row-fluid">
        <div class="span12">
            <div id="accordion" class="collapse">
                <form id="checkin-edit-form" method="post" th:object="${checkinEditForm}" th:action="@{updateCheckin}"
                      role="form" class="form-inline">
                    <input id="checkin-edit-form-id" type="hidden" class="form-control" value="1" th:field="*{id}"/>
                    <input placeholder="Checkin Time" type="text" class="form-control" value="18:00"
                           th:field="*{dateTime}"/>
                    <select th:field="*{type}" class="form-control">
                        <option value="CHECK_IN">CheckIn</option>
                        <option value="CHECK_OUT">CheckOut</option>
                    </select>
                    <input placeholder="Checkin Notes" type="text" class="form-control" value="" th:field="*{notes}"/>
                    <a href="#" role="button" class="btn btn-default btn-sm" onclick="saveLog()">Save</a>
                    <a href="#" role="button" class="btn btn-danger btn-sm" onclick="deleteLog()">Delete</a>
                </form>
            </div>
            <table id="logs" class="table table-hover borderless" data-toggle="table" data-pagination="true"
                   data-showFooter="true">
                <thead>
                <th data-field="id">ID</th>
                <th data-field="time" data-sortable="true">Time</th>
                <th data-field="type">Type</th>
                <th data-field="notes">Notes</th>
                </thead>
                <tbody>
                <th:block th:each="log : ${currentLogs}">
                    <tr data-toggle="collapse" data-target="#accordion" class="clickable">
                        <td th:text="${log.id}">14'</td>
                        <td th:text="${log.dateTime}">10:20'</td>
                        <td th:text="${log.logType}">CHECK_IN'</td>
                        <td th:text="${log.notes}">A Smoke Test'</td>
                    </tr>
                </th:block>
                </tbody>
            </table>
            <div id="submit-result" class="align-center"></div>
        </div>
    </div>

    <script type="text/javascript" th:src="@{/js/main.js}"/>
</div>

<div th:replace="fragments/footer :: footer">
    <h1>Footer</h1>
</div>
</body>
</html>
